@model WebPegadaian.ViewModel.ProvRegViewModel

@{
    ViewBag.Title = "Create";
}
@using (Html.BeginForm())
{
@Html.AntiForgeryToken()
<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Create User</h1>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-10">
    <div class="card">
        <div class="card-header">
            <strong>Form</strong> Create User
        </div>
        <div class="card-body card-block">
            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-3" })

                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control col-md-7" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                </div>

                <div class="row form-group">
                    @Html.LabelFor(model => model.Identity_Type, htmlAttributes: new { @class = "control-label col-md-3" })

                    @Html.EditorFor(model => model.Identity_Type, new { htmlAttributes = new { @class = "form-control col-md-3" } })
                    @Html.ValidationMessageFor(model => model.Identity_Type, "", new { @class = "text-danger" })

                </div>

                <div class="row form-group">
                    @Html.LabelFor(model => model.Identity_Number, htmlAttributes: new { @class = "control-label col-md-3" })

                    @Html.EditorFor(model => model.Identity_Number, new { htmlAttributes = new { @class = "form-control col-md-3" } })
                    @Html.ValidationMessageFor(model => model.Identity_Number, "", new { @class = "text-danger" })

                </div>

                <div class="row form-group">
                    @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-3"})
                    <select name="select" id="select" class="form-control col-md-3">
                        <option value="Male">Male</option>
                        <option value="Female" >Female</option>
                    </select>
                </div>

                @*<div class="row form-group">
                        @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-3" })

                            @Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control col-md-3" } })
                            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })

                    </div>*@

                <div class="row form-group">
                    @Html.LabelFor(model => model.Born_Place, htmlAttributes: new { @class = "control-label col-md-3" })

                    @Html.EditorFor(model => model.Born_Place, new { htmlAttributes = new { @class = "form-control col-md-3" } })
                    @Html.ValidationMessageFor(model => model.Born_Place, "", new { @class = "text-danger" })

                </div>

                <div class="row form-group">
                    @Html.LabelFor(model => model.Born_Date, htmlAttributes: new { @class = "control-label col-md-3" })

                    @Html.EditorFor(model => model.Born_Date, new { htmlAttributes = new { @class = "form-control col-md-3" } })
                    @Html.ValidationMessageFor(model => model.Born_Date, "", new { @class = "text-danger" })

                </div>

                <div class="row form-group">
                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-3" })

                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control col-md-8" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })

                </div>

                <div class="row form-group">
                    @Html.LabelFor(model => model.Provinces_Id, htmlAttributes: new { @class = "control-label col-md-3" })
                    @if (ViewBag.ProvList != null)
                    {
                        @Html.DropDownListFor(model => model.Provinces_Id, ViewBag.ProvList as SelectList, "--Pilih Provinsi--", new { @class = "form-control col-md-4" })
                    }
                </div>

                <div class="row form-group">
                    @Html.LabelFor(model => model.Regencies_Id, htmlAttributes: new { @class = "control-label col-md-3" })
                        @Html.DropDownListFor(model => model.Regencies_Id, new SelectList(""), "--Pilih Kabupaten--", new { @class = "form-control col-md-4" })
                </div>

                <div class="row form-group">
                    @Html.LabelFor(model => model.Districts_Id, htmlAttributes: new { @class = "control-label col-md-3" })
                    @Html.DropDownListFor(model => model.Districts_Id, new SelectList(""), "--Pilih Kecamatan--", new { @class = "form-control col-md-4" })
                </div>

                <div class="row form-group">
                    @Html.LabelFor(model => model.Villages_Id, htmlAttributes: new { @class = "control-label col-md-3" })
                    @Html.DropDownListFor(model => model.Villages_Id, new SelectList(""), "--Pilih Desa / Kelurahan--", new { @class = "form-control col-md-4" })
                </div>

                <div class="row form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-3" })

                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control col-md-3" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                </div>

                <div class="row form-group">
                    @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-3" })

                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control col-md-3" } })
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })

                </div>

                <div class="row form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-3" })

                    @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control col-md-3" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                </div>

                <div class="row form-group visible">
                    @Html.LabelFor(model => model.Role_Id, htmlAttributes: new { @class = "control-label col-md-3" })
                    @if (ViewBag.roles != null)
                    {
                        @Html.DropDownListFor(model => model.Role_Id, ViewBag.roles as SelectList, new { @class = "form-control col-md-2" })
                    }

                </div>

                <div class="row form-group">
                    @Html.LabelFor(model => model.Number_Npwp, htmlAttributes: new { @class = "control-label col-md-3" })

                    @Html.EditorFor(model => model.Number_Npwp, new { htmlAttributes = new { @class = "form-control col-md-3" } })
                    @Html.ValidationMessageFor(model => model.Number_Npwp, "", new { @class = "text-danger" })

                </div>

                <div class="row form-group">
                    @Html.LabelFor(model => model.Picture_Npwp, htmlAttributes: new { @class = "control-label col-md-3" })

                    @Html.EditorFor(model => model.Picture_Npwp, new { htmlAttributes = new { @class = "form-control col-md-3" } })
                    @Html.ValidationMessageFor(model => model.Picture_Npwp, "", new { @class = "text-danger" })

                </div>

                <div class="row form-group">
                    @Html.LabelFor(model => model.Picture_Identity, htmlAttributes: new { @class = "control-label col-md-3" })

                    @Html.EditorFor(model => model.Picture_Identity, new { htmlAttributes = new { @class = "form-control col-md-3" } })
                    @Html.ValidationMessageFor(model => model.Picture_Identity, "", new { @class = "text-danger" })

                </div>

                <div class="">
                    <button type="submit" value="Create" class="btn btn-primary btn-sm">
                        <i class="fa fa-dot-circle-o"></i> Save
                    </button>
                    <button type="reset" class="btn btn-danger btn-sm">
                        <i class="fa fa-ban"></i> Reset
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
}
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/jquery-2.2.4.min.js"></script>

    <script>
    $(document).ready(function () {
        $("#Provinces_Id").change(function () {
            $.get("/Users/GetRegencyList", { Provinces_Id: $("#Provinces_Id").val() }, function (data) {
                $("#Regencies_Id").empty();
                $.each(data, function (index, row){
                    $("#Regencies_Id").append("<option value ='"+ row.Id +"'>"+ row.Name +"</option>")
                });
            });
        })
    });
    $(document).ready(function () {
        $("#Regencies_Id").change(function () {
            $.get("/Users/GetDistrictList", { Regencies_Id: $("#Regencies_Id").val() }, function (data) {
                $("#Districts_Id").empty();
                $.each(data, function (index, row) {
                    $("#Districts_Id").append("<option value ='" + row.Id + "'>" + row.Name + "</option>")
                });
            });
        })
    });
    $(document).ready(function () {
        $("#Districts_Id").change(function () {
            $.get("/Users/GetVillageList", { Districts_Id: $("#Districts_Id").val() }, function (data) {
                $("#Villages_Id").empty();
                $.each(data, function (index, row) {
                    $("#Villages_Id").append("<option value ='" + row.Id + "'>" + row.Name + "</option>")
                });
            });
        })
    });

    </script>