@model WebPegadaian.Models.Transaction

@{
    ViewBag.Title = "Create";
}
@Html.AntiForgeryToken()
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Create New Transaction</h1>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-10">
    <div class="card">
        <div class="card-header">
            <strong>Form</strong> Create Transaction
        </div>
        <div class="card-body card-block">
            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                <div class="row form-group">
                    @Html.Label("Product", htmlAttributes: new { @class = "control-label col-md-5" })
                    @Html.DropDownList("Product_Id", null, htmlAttributes: new { @class = "form-control col-md-5" })
                    @Html.ValidationMessageFor(model => model.Product_Id, "", new { @class = "text-danger col-md-5" })
                </div>

                <div class="row form-group">
                    @Html.Label("Installment Type", htmlAttributes: new { @class = "control-label col-md-5" })
                    @Html.DropDownList("Installment_Type_Id", null, htmlAttributes: new { @class = "form-control col-md-5" })
                    @Html.ValidationMessageFor(model => model.Installment_Type_Id, "", new { @class = "text-danger col-md-5" })
                </div>

                <div class="row form-group">
                    @Html.Label("Outlet", htmlAttributes: new { @class = "control-label col-md-5" })
                    @Html.DropDownList("Outlet_Id", null, htmlAttributes: new { @class = "form-control col-md-5" })
                    @Html.ValidationMessageFor(model => model.Outlet_Id, "", new { @class = "text-danger col-md-5" })
                </div>

                <div class="row form-group">
                    @Html.Label("Administrative Cost", htmlAttributes: new { @class = "control-label col-md-5" })
                    @Html.EditorFor(model => model.Administrative_Cost, new { htmlAttributes = new { @class = "form-control col-md-5" } })
                    @Html.ValidationMessageFor(model => model.Administrative_Cost, "", new { @class = "text-danger col-md-5" })
                </div>

                <div class="row form-group">
                    @Html.Label("Loan Amount", htmlAttributes: new { @class = "control-label col-md-5" })
                    @Html.EditorFor(model => model.Loan_Amount, new { htmlAttributes = new { @class = "form-control col-md-5" } })
                    @Html.ValidationMessageFor(model => model.Loan_Amount, "", new { @class = "text-danger col-md-5" })
                </div>

                <div class="row form-group">
                    @Html.Label("Approved Date", htmlAttributes: new { @class = "date col-md-5" })
                    @Html.EditorFor(model => model.Approved_Date, new { htmlAttributes = new { @class = "form-control col-md-5" } })
                    @Html.ValidationMessageFor(model => model.Approved_Date, "", new { @class = "text-danger col-md-5" })
                </div>

                <div class="row form-group">
                    @Html.Label("Approved Status", htmlAttributes: new { @class = "date col-md-5" })
                    @Html.EditorFor(model => model.Approved_Status, new { htmlAttributes = new { @class = "form-control col-md-5" } })
                    @Html.ValidationMessageFor(model => model.Approved_Status, "", new { @class = "text-danger col-md-5" })
                </div>

                <div class="row form-group">
                    @Html.Label("Accepted Date", htmlAttributes: new { @class = "date col-md-5" })
                    @Html.EditorFor(model => model.Accepted_Date, new { htmlAttributes = new { @class = "form-control col-md-5" } })
                    @Html.ValidationMessageFor(model => model.Accepted_Date, "", new { @class = "text-danger col-md-5" })
                </div>

                <div class="row form-group">
                    @Html.Label("Accepted Status", htmlAttributes: new { @class = "date col-md-5" })
                    @Html.EditorFor(model => model.Accepted_Status, new { htmlAttributes = new { @class = "form-control col-md-5" } })
                    @Html.ValidationMessageFor(model => model.Accepted_Status, "", new { @class = "text-danger col-md-5" })
                </div>

                <div class="row form-group">
                    @Html.Label("Remaining Amount", htmlAttributes: new { @class = "date col-md-5" })
                    @Html.EditorFor(model => model.Remaining_Amount, new { htmlAttributes = new { @class = "form-control col-md-5" } })
                    @Html.ValidationMessageFor(model => model.Remaining_Amount, "", new { @class = "text-danger col-md-5" })
                </div>

                <div class="row form-group">
                    @Html.Label("Customer Name", htmlAttributes: new { @class = "date col-md-5" })
                    @Html.DropDownList("Cust_Id", null, htmlAttributes: new { @class = "form-control col-md-5" })
                    @Html.ValidationMessageFor(model => model.Cust_Id, "", new { @class = "text-danger col-md-5" })
                </div>
            </form>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-sm">
                <i class="fa fa-dot-circle-o"></i> Submit
            </button>
            <button type="reset" class="btn btn-danger btn-sm">
                <i class="fa fa-ban"></i> Reset
            </button>
        </div>
    </div>
</div>
